doctype html
html(lang='es')
  head
    title curriculumDanielLenarduzzi
    meta(charset='utf-8')
    meta(name="viewport",content="width=device-width")
    link(rel="stylesheet", href="css/style.css", attr)
    link(rel="text/javascript", href="js/codigo.css", attr)
  body
    img(src="https://ibb.co/nJnp6m")
    h1 Daniel Lenarduzzi
